@font-face{
  src: url("../font/BMDOHYEON_ttf.ttf");
  font-family: Dohyeon;
}

* {
  box-sizing: border-box;
  font-family: 'Dohyeon', sans-serif;
  border-radius: 5px;
}

body {
  background-image: url('../image/boil.png');
  background-repeat:no-repeat;
  background-size: cover;
  background-position: center;
}

h1{
  font-size: 48px;
  vertical-align: middle;
  margin: 50px auto 50px auto;
  border: 12px solid white;
  padding: 50px 30px;
  line-height: 90px;
  color: white;
  width: 300px;
  height: 300px;
  text-align: center;
}

.input-form {
  width: 400px;
  margin:100px auto;
  padding: 20px;
  text-align: center;
}

.text-field {
  width: 300px;
  border:none;
  font-size: 14px;
  margin-bottom: 10px;
  padding: 10px;
}

.submit-btn {
  font-size: 14px;
  background-color: #006699;
  color: white;
  width: 300px;
  padding: 10px;
  border: none;
}

p{
  text-align: center;
  font-size: 14px;
  color: white;
  margin-bottom: 10px;
}

.center{
  text-align: center;
}

.center img{
  margin-left: 10px;
  margin-right: 10px;
}
